$primary-color: #1b95e0;

body {
  background-color: $primary-color;
}

.container {
  background-color: #fff;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  max-width: 100%;
  //max-width: 1080px;
  /*height: 500px;
  height: 100%;*/
}

#wiki-container {
  border: 0.125rem solid $primary-color;
  border-radius: 5px;
  width: 90%;
  height:90%;
  min-height: 21.88rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.625rem;
}

h1 {
  color: $primary-color;
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

h4, p {
  text-align: left;
}

/*#search-main {
  height: 12.5rem;
}*/

#search-main, #search-text {
  margin-top: 3.125rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

#search-text {
  display: none;
}

#search-icon {
  max-width: 6.25rem;
  margin: auto;
  cursor: pointer;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 360px) {
  #search-box {
    margin-bottom: 10px;
  }
}

#search-item {
  margin-right: 0.3125rem;
  //width: 12.5rem;
}

#search-clear {
  font-size: 0.875rem;
  color: #ccc;
  cursor: pointer;
  position: absolute;
  right: 0.8rem;
  top: 0;
  bottom: 0;
  height: 0.875rem;
  margin: auto;
}

.results {
  border: 0.0625rem solid $primary-color;
  margin-top: 0.3125rem;
}

#random-wiki {
  white-space: normal;
}





/*#wiki-box {
  border: 3px dotted $primary-color;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 50px;
}*/

/*#search-box {
  width: 12.81rem;
  margin: auto;
  border: 1px dotted red;
}*/

/*.extra-height {
  height: 62.5rem;
}

@media screen and (max-width: 575px) {
    .extra-height {
      height: 93.75rem;
    }
}*/
