$primary-color: #078898;
$secondary-color: #66B9BF;
$complementary-color: #EEAA7B;
$accent-color: #E37222;

body {
  background-color: $primary-color;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
  max-width: 100%;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

#wiki-container {
  border: 0.125rem solid $primary-color;
  border-radius: 5px;
  width: 90%;
  height:90%;
  min-height: 21.88rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.625rem;
}

#random-wiki {
  white-space: normal;
}

.btn-custom {
  border-radius: 0rem;
  background-color: $accent-color;
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.btn-custom:hover {
  background-color: $complementary-color;
  cursor: pointer;
}

h3 {
  color: hsl(0, 0%, 95%);
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}

h4 {
  font-weight: bold;
}

h4, p {
  text-align: left;
}

#search-main, #search-text {
  margin-top: 3.125rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

#search-text {
  display: none;
}

#search-icon {
  color: $accent-color;
  font-size: 6rem;
  margin-bottom: 3.5rem;
}

#search-icon:hover {
  font-size: 6.5rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

#search-box {
  margin-bottom: 0.625rem;
}

#search-item {
  color: hsl(0, 0%, 25%);
  margin-right: 0.3125rem;
}

#search-clear {
  color: #ccc;
  font-size: 0.875rem;
  position: absolute;
  right: 0.8rem;
  top: 0;
  bottom: 0;
  height: 0.875rem;
  margin: auto;
  padding-right: 0.3125rem;
  cursor: pointer;
}

#submit {
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.results {
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 25%);
  margin-top: 0.3125rem;
  padding: 1.5rem 2rem 1rem 2rem;
}

.results:hover {
  border: 0.25rem solid $accent-color;
  padding: 1.25rem 1.75rem 0.75rem 1.75rem;
}

#search-results a:hover {
  text-decoration: none;
}